<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>
<body>

    <div class="main-content">

     {{>header}}

    <p>Hi. My name is Guillermo Moran. I'm a Full Stack web developer and I love what I do.</p>

    <img class="me" src="/img/me.jpeg" alt="me">
         
    </div>
    {{>footer}}
</body>
</html>